header{
  background-color: mediumaquamarine;
  padding: 20px;
  color: white;
}

#Courses{
    display: inline;
    text-align: left;
}

#GPA{
    display: inline;
    padding-left: 80%;
}

#Semesterword{
  padding-top: 80px;
  display: inline;
}

#Semester{
  padding-top: 20px;
  display: inline;
}
