@viewport{
  zoom: 1.0;
  width: extend-to-zoom;
}

@-ms-viewport{
  width: extend-to-zoom;
  zoom: 1.0;
}

header{
  background-color: mediumaquamarine;
  padding: 0.50%;
  color: white;
  font-size: 130%;
}

body{
  background-color: lightcyan;
}

#Courses{
    display: inline;
    text-align: left;
}

#GPA{
    display: inline;
    padding-left: 40%;
}

#Semesterword{
  display: inline;
  position: relative;
  left: 21%;
  font-size: 115%;
  top: 20px;
}

#Semester{
  display: inline;
  position: relative;
  left: 21%;
  font-size: 115%;
  top: 20px;
}

.course_add{
  background-color: aquamarine;
  border-color: white;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  cursor: pointer;
  position: relative;
  top: 100px;
  left: 8%;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
