@viewport{
  zoom: 1.0;
  width: extend-to-zoom;
}

@-ms-viewport{
  width: extend-to-zoom;
  zoom: 1.0;
}

header{
  background-color: mediumaquamarine;
  padding: 0.50%;
  color: white;
  font-size: 130%;
}

#Courses{
    display: inline;
    text-align: left;
}

#GPA{
    display: inline;
    padding-left: 40%;
}

#Semesterword{
  display: inline;
  position: relative;
  left: 18%;
  font-size: 115%;
}

#Semester{
  display: inline;
  position: relative;
  left: 18%;
  font-size: 115%;
}
